@import '/src/style/variables';

.self {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card {
  padding: 12px;
  .head {
    display: flex;
    align-items: center;
    .item {
      width: calc(100% / 5);
    }
    .answer {
      flex: 1;
    }
  }
  .preview {
    margin-top: 10px;
  }
}
