@import './variables';

@mixin scrollbar {
  overflow-y: overlay;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border-radius: 3px;
  }
}

// @mixin modal {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 95vw;
//   max-height: 80vh;
//   overflow-y: auto;
//   background-color: var(--modal-background);
//   border-radius: 8px;
//   @media (min-width: $md) {
//     width: 600px;
//   }
// }
