$black: #000000;
$pale-orange: #eb8c0f;
$white: #ffffff;
$red: #f22f29;
$light-200: #f0f4f7;
$light-200-50: #f0f4f780;
$black-500: #364b63;
$black-700: #011833;
$grey-300: #cbd6e1;
$grey-500: #8698a8;
$grey-700: #516279;
$green-500: #00cc63;
$green-500-30: #00cc634d;
$green-600: #00ab63;
$green-700: #009953;
