@import 'src/style/mixins';
@import 'src/style/variables';

.navbar {
  height: 44px;
  width: 100%;
}
.container {
  height: calc(100vh - 44px);
  overflow-y: auto;
  @include scrollbar;
  padding: 10px;
  @media (min-width: $sm) {
    padding: 20px;
  }
}
