@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;700;900&display=swap');

* {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Lato', 'Noto Sans TC', 'Noto Sans SC', sans-serif;
}

/* revert default style for ckeditor */
.ck-content > ul,
.ck-content > ol {
  list-style: revert;
  margin: revert;
  padding: revert;
}
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > p {
  margin: revert;
  font-size: revert;
  font-weight: revert;
}
