@mixin placeholder($color) {
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color;
    /* Firefox */
    opacity: 1;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $color;
  }
}

.input {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  font-family: inherit;
  font-size: 1em;
  color: var(--text);

  background: var(--input-bg);
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 8px;

  @include placeholder(var(--input-placeholder));

  &:focus {
    outline: none;
    border: 1px solid var(--input-focus);
  }
}
.error {
  border: 1px solid var(--alert);
}
.disabled {
  border-bottom: 1px solid var(--input-disabled);
  @include placeholder(var(--input-disabled-bg));
}

.label {
  font-size: 14px;
  color: var(--text);
  margin-bottom: 4px;
}
.labelDisabled {
  color: var(--input-disabled);
}
.errorMessage {
  font-size: 12px;
  color: var(--alert);
  margin-top: 4px;
}
.hint {
  font-size: 12px;
  color: var(--input-hint);
  margin-top: 4px;
}
