@import '/src/style/variables';

.self {
  color: var(--navbar-color);
  background-color: var(--navbar-background);
  height: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  @media (min-width: $sm) {
    justify-content: space-between;
  }
  .menu {
    cursor: pointer;
  }
  .logo {
    flex: 1;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    > img {
      height: 35px;
    }
  }
}
